<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>230815727950-8oanaic22a6dlgb844armroq6fpqvsn3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALAZwzfdzif7wN92nvOame-MBnCeRf7U4</string>
	<key>GCM_SENDER_ID</key>
	<string>230815727950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KosippyStudio.MuseumofExcesses</string>
	<key>PROJECT_ID</key>
	<string>museum-of-excesses</string>
	<key>STORAGE_BUCKET</key>
	<string>museum-of-excesses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230815727950:ios:3afda8df634be4c822de1f</string>
	<key>DATABASE_URL</key>
	<string>https://museum-of-excesses-default-rtdb.firebaseio.com</string>
</dict>
</plist>