Library/
Logs/
*.vsconfig
*.sln
*.csproj
.vs/
obj/
Temp/
MuseumTycoon/.vs/MuseumTycoon/FileContentIndex/94f3591c-d41a-4c0d-bda1-23dd85a985a7.vsidx
MuseumTycoon/.vs/MuseumTycoon/FileContentIndex/cdc6249c-2a76-4c68-a5d1-d17e1fa50c11.vsidx
MuseumTycoon/.vs/MuseumTycoon/FileContentIndex/ea169264-4c50-4396-8b10-4cf0f874d748.vsidx
MuseumTycoon/.vs/MuseumTycoon/v17/.suo
MuseumTycoon/Library/Artifacts/0b/0b64fbcb25c94c17c859d86e4836ae68
MuseumTycoon/Library/Artifacts/12/12d5ef87fd109951ef70d42a64c4637a
MuseumTycoon/Library/Artifacts/2e/2e594623f1dbf031df1237b37fbc5028
MuseumTycoon/Library/Artifacts/31/317a836838ba09505cd09231d05a77c3
MuseumTycoon/Library/Artifacts/31/31a246f1cc4e36d306bfffcaf54267cf
MuseumTycoon/Library/Artifacts/69/693ef4d3edf0eef1ad1fe27e4e0f01b0
MuseumTycoon/Library/Artifacts/76/7646cd43aba7d3848f2efc7018dd1778
MuseumTycoon/Library/Artifacts/78/78ded2c9648b85092a22c7adf6a1d554
MuseumTycoon/Library/Artifacts/9e/9e3bdbf5af65c4caefbddd887699db1d
MuseumTycoon/Library/Artifacts/a9/a93eb9662ad8bf5d2dc12ae2a14cbe66
MuseumTycoon/Library/Artifacts/a9/a93ec7a1402bb6b76a3ae494bd2003f4
MuseumTycoon/Library/Artifacts/ba/ba08b7ac12a9571a3ee1c28524081c80
MuseumTycoon/Library/Artifacts/d8/d88e1a2aaba1b6fed52c317dfbf36ab1
MuseumTycoon/Library/Artifacts/e5/e5c80ed82a51f58d4c2f184166c032de
MuseumTycoon/Library/Artifacts/ec/ec6f3df0c509d9758cf4a330942a7aba
MuseumTycoon/Library/Artifacts/ff/ffaef6c6225bdce912a4da4123f938ad
MuseumTycoon/Library/UIElements/EditorWindows/UnityEditor.InspectorWindow.pref
MuseumTycoon/Logs/AssetImportWorker0.log
MuseumTycoon/Logs/AssetImportWorker1.log
MuseumTycoon/Logs/shadercompiler-AssetImportWorker0.log
MuseumTycoon/Logs/shadercompiler-UnityShaderCompiler.exe0.log
MuseumTycoon/Temp/FSTimeGet-80e397016d35c0a42b1b1f55ab353ae5
MuseumTycoon/Temp/FSTimeGet-fd6458cea7f849f4e926cbb3f5e82b18
MuseumTycoon/Temp/ProcessJobs/b8613a84801a46c691ba1681b66ddf56.layout
MuseumTycoon/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
MuseumTycoon/UserSettings/Layouts/default-2022.dwlt
