<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.unity3d.player" xmlns:tools="http://schemas.android.com/tools">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.google.android.gms.permission.AD_ID" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/UnityThemeSelector">
		<!-- Firebase Initialization -->
		<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_notification" />
		<meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent" />
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="your-admob-app-id" />
		<service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false">
			<meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>
		<activity android:name="com.unity3d.player.UnityPlayerActivity" android:theme="@style/UnityThemeSelector">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		</activity>
	</application>
	<!--Google Play game services IDs. Save this file as res/values/games-ids.xml in your project.-->
	<resources>
		<!--app_id-->
		<string name="app_id" translatable="false">230815727950</string>
		<!--package_name-->
		<string name="package_name" translatable="false">com.KosippyStudio.MuseumofExcesses</string>
		<!--achievement Buy Your First Room-->
		<string name="achievement_buy_your_first_room" translatable="false">CgkIzoLC7dsGEAIQAw</string>
		<!--achievement Place Your First Painting-->
		<string name="achievement_place_your_first_painting" translatable="false">CgkIzoLC7dsGEAIQAg</string>
		<!--achievement Buy Your First Worker-->
		<string name="achievement_buy_your_first_worker" translatable="false">CgkIzoLC7dsGEAIQBA</string>
	</resources>
</manifest>
