<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.google.android.gms.permission.AD_ID" />

	<application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/UnityThemeSelector">

		<!-- Firebase Initialization -->
		<!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:value="@mipmap/ic_launcher" />
		<meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:value="@color/colorAccent" />-->

		<!-- AdMob Application ID -->
		<meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1301273545593514~9767639807" />

		<service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">
			<meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>

		<activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:theme="@style/UnityThemeSelector">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
		</activity>
	</application>
</manifest>
